html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
  background-color: #234955;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  place-items: center;

  article.sosialemedier {
    padding:0 10px 0 10px ;
    img {
      width: 100%;
    }
  }

  #logo {
    padding: 10px;
  }

  .centergrid {
    display: grid;
    justify-items: center;
  }
}


header {
  text-align: center;
  padding: 15px;
}

.buttonbidra {
  background-color: #122A32;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: 70px;
}

#diagram {
  height: 360px;
  width: 360px;
}

h2 {
  margin-top: 0;
}

p {
  color: white;
  font-size: 28px;
  line-height: 35px;
}



#burhone {
  height: 360px;
  width: 360px;
}

.viewport {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -webkit-transform: scale(0.75, 0.75);
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 200px;
  -moz-transform: scale(0.75, 0.75);
  perspective: 800px;
  perspective-origin: 50% 200px;
  transform: scale(0.75, 0.75);
}

.cube {
  position: relative;
  margin: 0 auto 100px;
  height: 400px;
  width: 400px;

  -webkit-transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
    -moz-transition: -moz-transform 50ms linear;

  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg) rotateY(20deg);
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateX(-10deg) rotateY(20deg);
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(20deg);
  cursor: pointer;
}

.cube h2 {
  color: #e3d963;
  padding-top: 0;
  margin-top: 0;
}

.cube a {
  color: #474934;
}

.cube>div {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  font-size: 1em;
  line-height: 1em;
  background-color: #122a32;
  border: 1px solid #122a32;
  border-radius: 3px;
}

.cube>div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform: rotateX(90deg) translateZ(200px);
  transform: rotateX(90deg) translateZ(200px);
}

.cube>div:nth-child(2) {
  -webkit-transform: translateZ(200px);
  -moz-transform: translateZ(200px);
  transform: translateZ(200px);
  
}

.cube>div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  -moz-transform: rotateY(90deg) translateZ(200px);
  transform: rotateY(90deg) translateZ(200px);
 
}

.cube>div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  -moz-transform: rotateY(180deg) translateZ(200px);
  transform: rotateY(180deg) translateZ(200px);
  
}

.cube>div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform: rotateY(-90deg) translateZ(200px);
  transform: rotateY(-90deg) translateZ(200px);
  
}

.cube>div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform: rotateY(-90deg) translateZ(200px);
  transform: rotateY(-90deg) translateZ(200px);
}

.cube>div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

object {
  opacity: 0.5;
}

object:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  article.sosialemedier {
    padding:0 10px 0 10px ;
    img {
      display:none ;
    }
  }
}